section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    font-family: 'Martian Mono', monospace;
    max-width: 80vw;
    margin: auto;
    color: white;
}

.hidden { 
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.pictures{
    display: flex;
    gap: 30px;
}
.picture img{
    max-width: 15vw;
}

.picture:nth-child(2){
    transition-delay: 200ms;
}
.picture:nth-child(3){
    transition-delay: 300ms;
}
.picture:nth-child(4){
    transition-delay: 400ms;
}
.picture:nth-child(5){
    transition-delay: 500ms;
}
.picture:nth-child(6){
    transition-delay: 600ms;
}